<h2> Edit Show </h2>

<form method="post" action="/shows/<%=@show.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Date: <input type="text" name="date" value="<%= @show.date %>"></p>
  <p>Headliner: <input type="text" name="headliner" value="<%= @show.headliner %>"></p>
  <p>Support: <input type="text" name="support" value="<%= @show.support %>"></p>
  <p>Blurb: <input type="text" name="blurb" value="<%= @show.blurb %>"></p>
  <p>Headliner Website: <input type="text" name="headliner_url" value="<%= @show.headliner_url %>"></p>
  <p>Doors At: <input type="text" name="doors_at" value="<%= @show.doors_at %>"></p>
  <p><input type="submit" value="submit">
</form>
