<h1><%= @show.date %></h1>
<h2><a href="<%=@show.headliner_url%>"><%= @show.headliner %></a></h2>
<p>with special guests: <%= @show.support %></p>
<p><em><%= @show.blurb %></em></p>
<p>Doors open at: <%= @show.doors_at %></p>

<form method="post" action="/shows/<%=@show.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Show">
</form>

<a href="/shows/<%=@show.id%>/edit">Edit Show</a>
